@import "tailwindcss";
/* page 1 */
.ctm-text-size-h3 {
  @apply text-[16px] md:text-3xl lg:text-[32px] font-light tracking-wide mb-1;
}

.ctm-text-size-h2 {
  @apply text-[18px] md:text-4xl lg:text-[40px] xl:text-[48px] mb-5 uppercase font-serif font-bold leading-[1] tracking-[1px];
  font-family: 'scotch-display';
}

.ctm-text-size-p{
  @apply text-[12px] lg:text-[16px] mb-4 leading-relaxed whitespace-pre-line;
}
.ctm-text-size-a{
  @apply inline-block bg-[#009B6F] hover:bg-green-900 text-white font-medium text-[14px] lg:px-[30px] lg:py-[10px] xl:px-[35px] xl:py-[15px] transition-colors duration-200 shadow-md focus:outline-none focus:ring-2 focus:ring-green-500 focus:ring-offset-2;
}

/* page 2 */

.ctm-p2-h2{
  @apply text-[#144634] text-[18px] md:text-4xl lg:text-[40px] xl:text-[48px] font-bold mb-2 font-serif leading-tight;
  font-family: 'scotch-display';
}
.ctm-p2-h3{
@apply uppercase font-light text-[16px] md:text-3xl lg:text-[32px] leading-none tracking-[4%] text-[#2A4C41] mb-2;
font-family: 'quasimoda';

}

/* page 3 */
.ctm-bl-img{
  @apply pointer-events-none select-none absolute z-100 w-[215px] h-[218px] left-[-2.85px] bottom-0;
}

.ctm-tr-img{
  @apply pointer-events-none select-none absolute z-0 w-[254px] h-[269px] -top-[15px] right-0;
}
.ctm-p3-h2{
  @apply text-2xl md:text-3xl lg:text-4xl font-light leading-tight text-[#5E5B48] ;
}

.ctm-h2-p5{
font-family: 'unbounded';
  
}
/* page 6  */

.ctm-h3-p6{
  @apply max-w-[540px] font-extrabold leading-tight mb-4;
  font-family: 'unbounded';
  font-size: 36px;
}
.ctm-heading{
  font-family: 'unbounded';
  font-size: 40px;
}

/* p 7 */

.ctm-font-p7{
  @apply text-[18px] md:text-[20px] lg:text-[24px] font-extrabold uppercase leading-relaxed mb-4;
  font-family: 'outfit';
}
/* p8 */
.ctm-img-p8 {
  @apply max-w-30 h-30 md:max-w-35 md:h-35 lg:max-w-40 lg:h-40 object-cover cursor-pointer mt-6;
}

.ctm-h2-p8{
  @apply text-3xl md:text-4xl lg:text-5xl font-bold text-[#857741] mb-4;
  font-family: "futura-pt";
}
.ctm-check {
  @apply h-5 w-5 !border !border-[#A6192E] rounded bg-white;
}
.ctm-check:checked {
  @apply !bg-[#A6192E] !border-[#A6192E];
}
.ctm-h3-p9{
  @apply absolute bottom-6 left-3 right-3 text-center uppercase font-bold px-2 drop-shadow-lg text-[22px] md:text-[28px] leading-tight tracking-tight;
}

.ctm-h-p9{
  font-family: 'futura-pt';

}
/* p10 */
.ctm-nav {
  @apply flex flex-wrap justify-center gap-4 text-[14px] md:space-x-6 overflow-x-auto md:overflow-visible;
}
.ctm-h3-p10 {
  font-family:subway-novella, sans-serif;
  color: aliceblue;
  font-size: xx-large;
}

.ctm-h2-p10 {
  font-family: subway-novella, sans-serif;
  color: #4A1E0A;
  font-size: 34px;
}

.ctm-h3-p10-2 {
  font-family:subway-novella, sans-serif;
  color: #4A1E0A;
  font-size: x-large;
}
.ctm-p2-10{
  font-family:subway-novella, sans-serif;
  @apply text-[16px] md:text-[18px] lg:text-[20px] font-bold text-[#6B2E15] mb-4;
}
.ctm-p3-10{
  font-family:subway-novella, sans-serif;
  @apply text-3xl md:text-4xl font-extrabold text-[#6B2E15] mt-2;
}
.ctm-h3-p10-3{
 font-family:subway-novella, sans-serif;
  @apply text-[16px] md:text-[18px] font-extrabold text-[#6B2E15] uppercase mb-4; 
}

.ctm{
  font-family: 'abel';
  @apply text-[16px] md:text-[16px] lg:text-[16px] font-bold text-gray-700 mb-4;
}
/* custom gradient overlay */
.ctm-grediant {
  background-image: linear-gradient(
    270deg,
    rgba(223, 157, 62, 0.95) 51.25%,
    rgba(255, 255, 255, 0) 100%
  );
}

